<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<div>
    <input type="text" id="diceRollInput">
    <input type="text" id="diceSizeInput">
    <button id="getDiceWebsocket">GET DICE VIA WEBSOCKET</button>
</div>

<div>
    <input type="text" id="itemIdInput">
    <button id="getItemWebsocket">GET ITEMS VIA WEBSOCKET</button>
</div>

<div>
    <input type="text" id="queryItemInput">
    <button id="getItemHttp">QUERY ITEM API VIA HTTP</button>
</div>

<div>
    <input type="text" id="queryDiceRollInput">
    <input type="text" id="queryDiceSizeInput">
    <button id="getDiceHttp">QUERY DICES API VIA HTTP</button>
</div>

<div>
    <button id="postItemHttp">POST ITEMS VIA HTTP</button>
</div>
